.languageSwitcher {
    display: flex;
    gap: 60px;
    font-size: 60pt;
}

.languageSwitcher span {
    cursor: pointer;
}

.links {
    position: absolute;
    top: 980px;
    height: 80px;
}

.github {
    opacity: 0.5;
}

.github:hover {
    opacity: 1;
}

.titleText {

}