.usageExample {
    margin-bottom: 20px;
}

.correct {
    background-color: rgba(0, 255, 0, 20%);
 }

.incorrect {
    background-color: rgba(255, 0, 0, 20%);
}

.usageExampleText {
    font-size: 25pt;
    padding: 4px;
}